@media (max-width: 600px) { /* Adjust the breakpoint as needed */
    .dropdowns {
        flex-direction: column;
        align-items: stretch;
    }

    .dropdown-group {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 600px) {
    select, label {
        font-size: larger; /* Increase font size for better readability and touch */
        padding: 10px; /* Larger padding for easier interaction */
    }
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #D2D7E9; /* Cool Gray 3 */
    color: #101D32; /* Dark Stone */
    font-family: Arial, sans-serif;
}

.controls {
    text-align: left;
    margin-bottom: 10px;
    background-color: #8C52DB; /* Primary Purple */
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF; /* White text for better contrast */
    width: 80%;
}

.control-item {
    font-size: 2em; /* Adjust this size as needed */
    margin-bottom: 10px;
    text-align: center;
}

.control-item-selects {
    font-size: 1.5em; /* Adjust this size as needed */
    margin-bottom: 10px;
    text-align: center;
}

.note-display {
    margin-bottom: 10px;

}

.dropdowns {
    display: flex;
    justify-content: left; /* Aligns children (dropdown groups) horizontally center */
    gap: 0px; /* Adds some space between the dropdown groups */
    margin-left: 100px;
}

.dropdown-group {
    display: flex;
    align-items: center; /* Aligns items vertically center */
    gap: 10px; /* Space between label and select */
    flex-grow: 1;
}



.dropdowns select {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #727F95; /* Cool Gray 1 */
    border-radius: 5px;
    background-color: #D8A7FF; /* Purple Light */
    color: #101D32; /* Dark Stone */
}

.piano {
    display: flex;
    align-items: start;
    border: 3px solid #42E2D9; /* Turquoise */
    border-radius: 10px;
    background-color: #727F95; /* Cool Gray 1 */
    padding: 10px;
}

.key-container {
    position: relative;
    display: inline-block;
    width: 5vw; /* Adjust as needed */
}

.white-key {
    height: 20vh; /* Adjust for desired height */
    width: 100%;
    background-color: #FFFFFF; /* White keys */
    border: 1px solid #727F95; /* Cool Gray 1 for border */
    box-shadow: 0 0.3vh #999;
    cursor: pointer;
}

.black-key {
    height: 12vh; /* Adjust for desired height */
    width: 60%;
    background-color: #000000; /* Black keys */
    position: absolute;
    top: 0;
    left: 70%; /* Adjust as needed */
    z-index: 1;
    border: 1px solid #727F95; /* Cool Gray 1 for border */
    box-shadow: 0 0.2vh #666;
    cursor: pointer;
}

/* Example overrides for specific black keys */
.black-key:nth-child(1) { left: 70%; } /* For C3# */
.black-key:nth-child(2) { left: 90%; } /* For D3# */
/* Add similar lines for each black key */


/* Example overrides for specific black keys */
.black-key:nth-child(1) { left: 70%; } /* For C3# */
.black-key:nth-child(2) { left: 90%; } /* For D3# */
/* Add similar lines for each black key */
